.goup-button {
    position:fixed;
    bottom:20px;
    right:20px;
    transition: 0.5s;
    display: none;
    & div {
        background-color: #111;
        color:#eee;
        &:hover {
            background:#333;
            color:#eee;
        }
    }
}