@import '../components/Colors.scss';

.contact { 
    padding-top: 8em !important;
    padding-bottom: 5em !important;
    background: $lightmode_yellow;
    & h2 {
        font-size: 4em;
        width:min-content;
        text-align: center;
        margin:auto;
        &::after{
            content:'';
            height:40px;
            width:250px;
            left:-10px;
            top:50px;
            background-color: #eee;
            position: absolute;
            z-index: -1;
        }
    }
    & h3 {
        font-size: 2em;
    }
    & a {
        text-align: center;
    }
    &__container {
        padding: 4em;
    }
    &__triangle {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        background: $lightmode_yellow;
        &--bottom {
            transform: rotate(180deg);
        }
    }
    
    &__triangle svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 128px;
        transform: rotateY(180deg);
    }
    
    &__triangle &__shape-fill {
        fill: $lightmode_lightblue;
    }
}
.darkmode {
    .contact__triangle .contact__shape-fill {
        fill :$darkmode_marine;
    }
    .contact {
        background: $darkmode_darkblue;
        &__triangle {
            background: $darkmode_darkblue;
        }
    }
}