@import '../components/Colors.scss';

.contact { 
    padding-top: 10em !important;
    padding-bottom: 5em !important;
    background: $lightmode_yellow;
    
    & h2 {
        margin:auto !important;
        padding-bottom: 5rem;
        &::after{
            content:'';
            height:40px;
            width:250px;
            left:-10px;
            top:50px;
            background-color: #eee;
            position: absolute;
            z-index: -1;
        }
    }
    & a {
        text-align: center;
    }
    &__container {
        width:50%;
        margin:auto;
        font-size:1.2rem;
        text-align: center;
        padding-bottom:2rem;
    }
    &__tilt {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        & svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 150px;
        }
    }
    &__tilt &__shape-fill {
        fill: #eee;
    }
}
@media only screen and (max-width:850px) {
	.contact {
        & h2 {
            &::after{
                width:115%;
                top:30px;
            }
        }
        &__container {
            width:80%;
        }
    }
}
.darkmode {
    .contact__triangle .contact__shape-fill {
        fill :$darkmode_marine;
    }
    .contact {
        background: $darkmode_darkblue;
        &__triangle {
            background: $darkmode_darkblue;
        }
    }
}