@import "../components/Colors.scss";
.greetings {
    background-color: $lightmode_yellow;
    transition: 0.5s;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 5em;
    & div {
        margin:auto;
    }
    &__header {
        font-size: 64pt;
        position: relative;
    }
    & h2 {
        font-size:2em;
    }
    & h3 {
        padding-top: 2em;
    }
    &__tilt {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
    }
    
    &__tilt svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 128px;
        transform: rotateY(180deg);
    }
    
    &__tilt &__shape-fill {
        fill: #eee;
        transition: 0.5s;
    }
}
.greetings__triangle {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.greetings__triangle svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 128px;
    transform: rotateY(180deg);
}

.greetings__triangle .greetings__shape-fill {
    fill:$lightmode_yellow;
    transition: .5s;
}
.darkmode {
        .greetings {
            background-color: $darkmode_darkblue;
        }
        .greetings__tilt .greetings__shape-fill {
            fill: #111;
        }
        .greetings__triangle .greetings__shape-fill {
            fill: $darkmode_darkblue;
        }
}