@import '../components/Colors.scss';

.header { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #eee;
    transition:0.5s;
    & button {
        margin:1em;
        font-size: 12pt;
    }
    & a {
        text-decoration: none;
    }
    &__darkmode{
        text-align:right;
        width:20%;
    }
    &__logo {
        width:24%;
        text-align: left;

        & img {
            max-width:80px;
            width:50px;
            padding-left:1em;
            padding-top:1em;

            &:hover {
                animation: header__logo--spin 1s  
            }
        }
    }
    &__flag {
        width:30px;
    }
}
.darkmode {
    & .header {
        background-color: #111;
    }
    & .header__logo img {
        filter: invert(59%) sepia(12%) saturate(2484%) hue-rotate(128deg) brightness(99%) contrast(90%);
        //code from website colouring svgs
    }
}
@media only screen and (min-width:1023px) {
	.header__sidenav {
        display: none;
    }
}
@media only screen and (max-width:1023px) {
	.header {
        justify-content: space-between;
    }
}