@import "../components/Colors.scss";
@import '../components/BreakingPoints.scss';

.my-projects {
    background: #eee;
    transition: .5s;
    padding-top: 2em;
    padding-bottom: 5em;
    position:relative;
    & p {
        font-size: 12pt;
    }
    & button {
        &::before {
            color: #333;
        }
    }
    &__project {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5em 3em;
        margin-top: 2em;
        font-size: 14pt;
        width:50%;
        display: inline-block;
    }
    &--english {
        &::after{
            content:'';
            height:40px;
            width:350px;
            top:50px;
            left:-10px;
            background-color: $lightmode_lightblue;
            position: absolute;
            z-index: -1;
        }
    }
    &--polish {
        &::after{
            content:'';
            height:40px;
            width:400px;
            top:50px;
            left:-10px;
            background-color: $lightmode_lightblue;
            position: absolute;
            z-index: -1;
        }
    }
}
@media only screen and (max-width:$mobile_breakpoint) {
    .my-projects {
        
        &--polish {
            &::after{
                width:290px;
                top: 30px;
            }
        }
        &--english {
            &::after{
                width:250px;
                top:30px;
            }
        }
    }
}
.darkmode {
    .my-projects {
        background-color: $darkmode_background;
        &--polish {
            &::after{
                background:$darkmode_marine;
            }
        }
        &--english {
            &::after{
                background:$darkmode_marine;
            }
        }
    }
}
