.about-me {
    background-color: rgb(223, 223, 27);
    transition: 0.5s;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 5em;
    & h2 {
        font-size:2em;
    }
    & h3 {
        padding-top: 2em;
    }
    &__tilt {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
    }
    
    &__tilt svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 128px;
        transform: rotateY(180deg);
    }
    
    &__tilt &__shape-fill {
        fill: #ffffff;
        transition: 0.5s;
    }
}
.darkmode {
        .about-me {
            background-color: #171d3f;
        }
        .about-me__tilt .about-me__shape-fill {
            fill: #111;
        }
}