$lightmode_lightblue:#21b6ae;
$lightmode_yellow:rgb(223, 223, 27);

$darkmode_marine:#0a615d;
$darkmode_darkblue:#171d3f;
$darkmode_tile:rgb(42, 48, 47);
$darkmode_color:#eee;
$darkmode_background:#111;