.contact { 
    padding-top: 4em;
    & h2 {
        font-size: 4em;
    }
    & h3 {
        font-size: 2em;
    }
    & a {
        text-align: center;
    }
    &__triangle {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        &--bottom {
            transform: rotate(180deg);
        }
    }
    
    &__triangle svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 128px;
        transform: rotateY(180deg);
    }
    
    &__triangle &__shape-fill {
        fill: #21b6ae;
    }
}