.header{
    display:flex;
    justify-content:flex-end;
    text-decoration: none;
    align-items:stretch;

}
.header div {
    flex-grow:0;
}
.header button {
    margin:1em;
}
.header a {
    text-decoration: none;
}
.header__logo {
    flex-grow: 8    ;
    text-align: left;
}
.header__logo img {
    max-width:100px;
    width:100px;
}
.header__logo img:hover {
    animation: header__logo--spin 1s
}
.header__button--contact {
    background-color: green;
}
.header__sidenav {
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    background-color:#21b6ae;
    overflow-x: disabled;
    transition: 0.5s;
    & a{
        padding:1em;
        display: block;
        transition: 0.3s;
    }
}
@media only screen and (min-width:750px) {
	.header__sidenav {
        display: none;
    }
}
@keyframes header__logo--spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }