@import './Colors.scss';

.header { 
    & button {
    margin:1em;
    font-size: 12pt;
    }
    & a {
        text-decoration: none;
    }
    &__logo {
        flex-grow: 8;
        text-align: left;

        & img {
            max-width:80px;
            width:60px;
            padding-left:1em;

            &:hover {
                animation: header__logo--spin 1s  
            }
        }
    }
}
.darkmode {
    & .header__logo img {
        filter: invert(59%) sepia(12%) saturate(2484%) hue-rotate(128deg) brightness(99%) contrast(90%);
        //code from website colouring svgs
    }
}
@media only screen and (min-width:750px) {
	.header__sidenav {
        display: none;
    }
}
@keyframes header__logo--spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }