@import './components/Colors.scss';
@import './components/BreakingPoints.scss';

.app {
	margin: 0 auto;
}
.my-projects, .contact, .about-me,.footer, .skills{
	padding:2em;
	padding-left: 20%;
	padding-right: 20%;
}
.darkmode {
	background:$darkmode_background;
	color:$darkmode_color;
	& a {
		color:$darkmode_color;
		//text-decoration: underline;
		&:hover {
			color:#777;
		}
	}
}
@media only screen and (max-width:1680px) {
	.my-projects, .contact, .about-me, .footer, .skills{
		padding:2em;
		padding-left: 15%;
		padding-right: 15%;
	}
}
@media only screen and (max-width:$mobile_breakpoint) {
	.my-projects, .contact, .about-me, .header, .footer, .skills{
		padding:1em;
		padding-left: 10%;
		padding-right: 10%;
	}
}
@keyframes app__logo--spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.app__logo {
	  animation: app__logo--spin infinite 20s linear;
	}
}
