@import './components/Colors.scss';

body {
	margin: 0 auto;
	transition: 0.5s;
}
a {
  	text-decoration: underline;
	color:black;
}
ul {
  	list-style-type:circle;
}
h1,h2,h3 {
	text-align: center;
	font-weight: 400;
}
h2 {
	font-size: 3em;
}
h1 {
	font-size:4em;
}
h3{
	margin-block-start: 0em;
    margin-block-end: 1em;
}
img {
	max-width: 100%;
}
.app {
	margin: 0 auto;
}
.my-projects, .contact, .about-me, .header,.footer{
	padding:1em;
	padding-left: 10%;
	padding-right: 10%;
}
.darkmode {
	background:$darkmode_background;
	color:$darkmode_color;
	& a {
		color:$darkmode_color;
		text-decoration: underline;
	}
}
@media only screen and (max-width:850px) {
	.my-projects, .contact, .about-me, .header,.footer{
		padding:1em;
		padding-left: .5em;
		padding-right: .5em;
	}
}
@keyframes app__logo--spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.app__logo {
	  animation: app__logo--spin infinite 20s linear;
	}
}