@import './components/Colors.scss';
.app {
	margin: 0 auto;
}
.my-projects, .contact, .about-me,.footer, .skills{
	padding:1em;
	padding-left: 10%;
	padding-right: 10%;
}
.darkmode {
	background:$darkmode_background;
	color:$darkmode_color;
	& a {
		color:$darkmode_color;
		text-decoration: underline;
	}
}
@media only screen and (max-width:850px) {
	.my-projects, .contact, .about-me, .header, .footer{
		padding:1em;
		padding-left: .5em;
		padding-right: .5em;
	}
}
@keyframes app__logo--spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.app__logo {
	  animation: app__logo--spin infinite 20s linear;
	}
}